body{
    background-color: cadetblue;
}
.imagen-aleatoria {
    border-radius: 50%;
    margin: 0 10px;

}
.imagenes {
    display: flex ; /* poner elementos en horizontal */

}
#imagen-diferente {
    opacity:50%;
}